* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaf4fc;
  font-family: Arial, Helvetica, sans-serif;
}

.step {
  display: flex;
  align-items: center; /*垂直方向上置中對齊 */
  justify-content: center;
  background-color: lightgray; /* 設定背景色為灰色 */
  padding: 10px; /* 設定內邊距，上下左右都有 10px */
  height: 111px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.21);
}

.step1 {
  margin-right: 80px;
}

.step2 {
  margin-left: 80px;
  margin-right: 80px;
}

.step3 {
  margin-left: 80px;
}

.Topic {
  margin-top: 50px;
  font-weight: bolder;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.input {
  height: 80px;
  width: 45%;
  margin: 50px 0px;
  border: 1px solid gray;
  display: flex;
  align-items: center; /*垂直方向上置中對齊 */
  justify-content: center;
  border-radius: 15px;
  background-color: white;
}

.i {
  display: flex;
  align-items: center; /*垂直方向上置中對齊 */
  justify-content: center;
  position: relative;
}

.input > input {
  outline: none;
  border: none;
  background: none;
  color: white;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  font-size: 20px;
  color: black;
}

.input > button {
  border: none;
  background-color: rgba(141, 200, 255);
  color: black;
  height: 60%;
  width: 130px;
  cursor: pointer;
  margin-right: 60px;
  margin-left: 40px;
  font-size: 18px;
  border-radius: 40px;
}

.Guess {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.Loading {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: -45px;
  margin-left: 753px;
}

.App .step1 {
  font-weight: bold;
  color: black;
}

.App2 .step1 {
  color: rgba(0, 0, 0, 0.21);
}

.App2 .step2 {
  font-weight: bold;
  color: black;
}

.web {
  height: 200px;
  width: 800px;
  margin-left: 500px;
  margin-top: 50px;
  font-size: 33px;
  font-weight: bold;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 50px;
  border: solid 0px black;
  overflow-y: auto;
  overflow-x: hidden;
  text-decoration: underline;
}

.VideoPic {
  width: 400px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  margin-left: 40px;
  margin-top: -200px;
  border-radius: 15px;
  position: absolute;
}

.input > button:hover {
  background-color: darkblue;
  color: white;
}

.choose {
  display: flex;
  align-items: center; /*垂直方向上置中對齊 */
  justify-content: center;
  padding: 10px; /* 設定內邊距，上下左右都有 10px */
  height: 111px;
  font-size: 30px;
  margin-top: 200px;
  color: black;
}

.trans {
  margin-right: 80px;
  margin-top: 40px;
}

.voice {
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 111px;
}

.ssub {
  margin-left: 80px;
  margin-top: -24px;
}

.App3 .step2 {
  color: rgba(0, 0, 0, 0.21);
}

.App3 .step3 {
  font-weight: bold;
  color: black;
}

.next {
  border: none;
  background-color: rgb(0, 132, 255);
  color: black;
  height: 60px;
  width: 120px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 40px;

  /* 水平居中的設定 */
  position: absolute; /* 使用絕對定位 */
  left: 50%; /* 將按鈕的左邊定位到螢幕的 50% */
  transform: translateX(-50%); /* 往左移動按鈕寬度的一半，實現真正居中 */

  /* 垂直位置設定 */
  margin-top: 200px; /* 距離頂部的距離 */
}

.next:hover {
  background-color: rgb(40, 40, 145);
  color: white;
}

.App23 .step_dot2{
  animation: colorChange 1.2s linear infinite alternate;
}

/* 定義動畫效果 */
@keyframes colorChange {
  0%, 20% {
    color: rgba(0, 0, 0, 0.21); /* 開始和結束時為灰色 */
  }
  50% {
    color: black; /* 中間變為黑色，停留較長時間 */
  }
  80%, 100% {
    color: rgba(0, 0, 0, 0.21); /* 回到灰色 */
  }
}

.Wait{
  display: flex;
  align-items: center; /*垂直方向上置中對齊 */
  justify-content: center;
  color: black;
  font-size: 40px;
  margin-top: 40px;
  font-weight: bolder;
  text-shadow: rgb(101, 101, 211) 1px 0 10px;
}

.ing{
  font-size: 22px;
  margin-left: 630px;
  text-shadow: 1px 1px 2px gray;
}

.d{
  margin-top: 100px;
}



.progressbar{
	position: absolute;
	overflow: hidden;
	width: 350px;
	height: 35px;
	border-radius: 5px;
	background-color: white;
  margin-left: 180px;
  margin-top: -30px;
}

.progressPercent{
	font-weight: 400;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: rgb(196, 196, 223);
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.check{
  width: 60px;
  object-fit: cover;
  transform: translate(550px, -44px);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.select_trans{
  color: #333333;
  font-size: 20px;
  margin-top: 30px;
}

.select_gender{
  color: #333333;
  font-size: 20px;
  margin-top: 30px;
}

.select_speed{
  color: #333333;
  font-size: 20px;
  margin-top: 30px;
}

/* On / Off toggle */
.toggle-btn {
  background-color: #b7b9ba;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 50px;
  height: 28px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.748);
  position: absolute;
  margin-top: 70px;
  margin-left: -100px;
}

.toggle-btn .thumb {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled {
  background-color: #15b58e;
}

.toggled-btn:hover {
  border-color: #6f6f6f;
}

.toggle-btn.toggled .thumb {
  left: calc(50px - 25px);
}

.Video{
  height: 360px;
  width: 640px;
  position: fixed;
  margin-left: 300px;
  margin-top: 50px;
}

.sb{
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  margin-left: 1000px;
  margin-top: 50px;
  font-weight: bold;
}

.top{
  height: 50px;
  display: flex; /* 啟用 Flexbox */
  align-items: center;
  border-bottom: 1px solid black;
  position: relative;
  font-weight: bold;
}

.sub1{
  position: relative;
  left: 25px;
}

.sub_sp{
  color: #aaa;
  position: relative;
  left: 45px;
  font-size: 13px;
}

.sub_voice{
  color: #aaa;
  position: relative;
  left: 55px;
  font-size: 14px;
}

.sub{
  position: relative;
  margin-left: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 28px;
  font-size: 18px;
  height: 420px;
  overflow-y: scroll; /* 垂直滾動 */
  overflow-x: hidden; /* 隱藏水平滾動條 */
  white-space: normal;
  padding-right: 20px;
}

.page3_name{
  height: 200px;
  width: 650px;
  font-size: 26px;
  font-weight: bold;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 50px;
  border: solid 0px black;
  overflow-y: auto;
  overflow-x: hidden;
  text-decoration: underline;
  position: fixed;
  margin-left: 300px;
  margin-top: 430px;
}

.play{
  position: relative;
  left: 260px;
  top: 3px;
  background-position: center; /* 圖片居中 */
  border: none; /* 移除邊框 */
  cursor: pointer; /* 滑鼠移上時顯示手勢 */
  background-color: #fff;
}

.play img {
  width: 30px;
  height: 30px;
}

.download{
  position: relative;
  left: 280px;
  top: 5px;
  background-position: center; /* 圖片居中 */
  border: none; /* 移除邊框 */
  cursor: pointer; /* 滑鼠移上時顯示手勢 */
  background-color: #fff;
}

.download img {
  width: 30px;
  height: 30px;
}

.lang-button {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.lang-button:hover {
  background-color: #e0e0e0;
}

.lang-button.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
